<div>
  <table class="table-responsive">
    <tr>
      <th>Title</th>
      <th>URL</th> 
      <th>Description</th>
      <th>Image</th>
    </tr>
    <tr [hidden]="technology.category == 'Companies'" *ngFor="let technology of technologies">     
      <td>{{technology.title}}</td> 
      <td><a href='{{technology.url}}' target="_blank">{{technology.url}}</a></td> 
      <td>{{technology.description}}</td> 
      <td><img [hidden]="technology.imageHref == ''" width="100" height="100" [src]="technology.imageHref"/></td> 
    </tr>
  </table>
</div>