table{
    top: 280px;
    font-family: 'Helvetica Neue';
}
table, th, td {
   border: 1px solid #333333;
   border-collapse: collapse;
}
th{
    padding: 10px 0px 10px 10px !important;;
    background-color: #4CAF50;
    color: white;
    text-align: left;
}
td{
    padding: 10px !important;
}
tr:nth-child(even) {
    background-color: #e7e7e7;
}

